.maincontainer{
     
    border-style: solid;
    border-width: thin;
    width: 300px;
    height: 400px;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left:auto ;
     
}
.topcontainer{
    
    width: 300px;
    height: 100px;
    /* justify-content: center; */
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left:0px ;
    position: absolute;
}

.leftcontainer{
    /* border-style: solid;
    border-width: thin; */
    width: 100px;
    height: 100px;
    justify-content: center;
    display: block;
    margin-top: 110px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left:0px;
    position: absolute;
   
}

.profile{
   height: 100px;
   width: 100px;
   margin-top:5px ;
   margin-left:5px ;
}

.bottomcontainer{
     
    width: 300px;
    height: 169px;
    justify-content: center;
    display: block;
    margin-top: 230px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left:0px;
}

p{
    margin-left: 5px;
    line-height: 10px;

}
.sign{
    margin-left: 210px;
}
.signline{
    margin-left: 192px;
}
